#header{
  top: 0;
    text-align: center;
    font-size: 40px;
  }

#site-container{
    font-size: large;
    color: #ebebeb;
    font-family:'Times New Roman', Times, serif;
    background-color:#001F51 ;
  }

#root{
  width: 100%;
  color: #ebebeb;
}

#soon{
  padding-top: 18%;
    text-align: center;
}

#social{
  padding-top: 150px;
  text-align: center;
}

#socialmedia-icons{
  text-align: center;
}

.footer{
  padding: 10px 10px 0px 10px;
  height: 40px;
  position:absolute;
  bottom:0;
  opacity: 0.4;
  text-align: center;
  font-size: smaller;
}

.fa {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  float:none;
}

  .fa:hover {
      transition: 0.2s;
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  