#header{
    text-align: center;
    font-size: 36px;
}

#site-container{
  font-family:'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, #06113C, #345B63,#06113C);
    font-size: large;
    color: #FF8C32;
}

#navigation, #navigation:visited, a:hover, a:active {
  padding-right: 2%;
  text-align: right;
}

#soon{
    text-align: center;
    padding-top: 15%;
}

#social{
  padding-top: 100px;
  text-align: center;
}

.footer{
  opacity: 0.3;
  padding-top: 190px;
  font-size: smaller;
  text-align: right;
  color: #EEEEEE  ; 
}



.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

  .fa:hover {
      transition: 0.6s;
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  