#bienvenida{
    padding-top: 130px !important;
    padding-bottom: 220px !important;
    padding-left: 0;
    padding-right: 0;
    height: 75vh;
    background: #15171d;
    background-image: url("../img/gifs/animation_500_l2gqonmf.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    align-content: center;
}

/*OSCURECE LA IMG DE FONDO*/
/*#bienvenida:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}*/

h1.tituloBienvenida{
    z-index: 5;
    text-align: center;
    color: #fff;
    font-size: 46px;
    margin-bottom: 10px !important;
    animation: fluido 20s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
    /*background-image: linear-gradient(60deg, #E43F5A, #7C30FF);*/
    background-size: 300%;
    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 55px;
}
@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

h3.subTituloBienvenida{
    z-index: 5;
    margin-top: 2px;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 20px;
}

@media (max-width:485px){
    h3.subTituloBienvenida{
        font-size: 20px;
    }

    h1.tituloInicio{
        font-size: 36px;
        height: 85px;
    }
}

.contactButton{
    z-index: 5;
    border-style: none;
    border: 1px solid #dddddd;
    background: transparent;
    color: #fff;
    text-align: end;
    font-weight: bold;
    border-radius: 21px;
    margin-top: 30px;
    padding: 8px;
}
.contactButton:hover{
    transition: 0.2s;
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, .1), -5px -5px 7px -5px rgba(0, 0, 0, .1), inset -9px -9px 12px 0px rgba(0, 0, 255, .07), inset 9px 9px 12px 0px rgba(0, 0, 0, .3)!important;
    border: none;
}

a.contact{
    text-decoration: none;
}

/* EFECTO WAVE CSS SIN USAR*/
section#bienvenida{
    position: relative;
	overflow: hidden;
}

section .wave
{
    z-index: 1;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
}
section .wave span
{
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%,-75%);
  background: #000;
}
section .wave span:nth-child(1)
{
    animation: animate 5s linear infinite;
    border-radius: 85%;
    background: rgba(20,20,20,0.5);
}
section .wave span:nth-child(2)
{
    animation: animate 10s linear infinite;
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
}
section .wave span:nth-child(3)
{
    animation: animate 15s linear infinite;
    border-radius: 42.5%;
    background: rgba(20,20,20,0.5);
}
@keyframes animate 
{
    0%
    {
      transform: translate(-50%,-85%) rotate(0deg);
    }
    100%
    {
      transform: translate(-50%,-85%) rotate(360deg);
    }
}

.tituloInicio{
    z-index: 5;
    text-align: center;
    color: #fff;
    font-size: 46px;
    margin-bottom: 10px !important;
    color: #ddd;
    /*background-image: linear-gradient(60deg, #E43F5A, #7C30FF);*/
    background-size: 300%;
    height: 55px;
}

.gif{
    height: 190px
}