#bienvenida{
    padding-top: 130px !important;
    padding-bottom: 220px !important;
    padding-left: 0;
    padding-right: 0;
    height: 75vh;
    background: #15171d;
    background-image: url("../img/gifs/animation_500_l2gqonmf.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    align-content: center;
}

/*OSCURECE LA IMG DE FONDO*/
/*#bienvenida:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}*/

h1.tituloBienvenida{
    z-index: 5;
    text-align: center;
    color: #fff;
    font-size: 46px;
    margin-bottom: 10 !important;
    animation: fluido 30s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    /*background-image: linear-gradient(60deg, #E43F5A, #7C30FF);*/
    background-size: 300%;
    -webkit-background-clip: text;
        background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

h3.subTituloBienvenida{
    z-index: 5;
    margin-top: 2px;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 20px;
}

.contactButton{
    z-index: 5;
    border-style: none;
    border: 1px solid #dddddd;
    background: transparent;
    color: #fff;
    text-align: end;
    font-weight: bold;
    border-radius: 21px;
    margin-top: 30px;
    padding: 8px;
}
.contactButton:hover{
    transition: 0.2s;
    background-color: #ddddddaf;
    /*
	background-image: linear-gradient(90deg,#e43f5acf,#7C30FFcd);
    */
}

a.contact{
    text-decoration: none;
}