.carousel-item{
    display: none !important;
    justify-content: space-around;
    align-items: center;
  }
  
  .carousel-item.active{
    margin: 0.8rem;
    display: flex !important;
  }
  
  .carousel-control-prev-icon{
    margin-right: 70px;
  }
  .carousel-control-next-icon{
    margin-left: 70px !important;
  }

.nombreEquipo{
    color: white;
}
.puestoEquipo{
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 400;
}

.fotoEquipo{
    border-radius: 2rem;
    margin-top: 20px !important;
    margin-bottom: 20px;
}

.descTeam{
  color: #fff;
}

.aboutContainer{

  box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
  background-color: #15171d;
  border-radius: 20px;
  height: 100%;
  margin-top: 4rem;
  justify-content: space-around;
}