#comoTrabajamos{
    margin-top: 10px !important;
    padding-top: 30px;
}

.trabajos{
    display: flex;
    align-content: space-between;
    height: 340px;
    background-color: #15171d;
    padding: 15px;
    margin-bottom: 3%;
    margin-left: 0 !important;
    border-radius: 20px;
    transition: transform .25s, opacity .25s, width .25s, height .25s;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
 }

 @media (min-width: 1024px) {
    #comoTrabajamos{
        justify-content: space-between;
    }     
}