#comoTrabajamos{
    margin-top: 10px !important;
    padding-top: 30px;
}

.ourWorkProcess{
    text-align: center;
    margin-bottom: 40px;
}

.trabajos{
    display: flex;
    align-content: space-between;
    height: auto;
    background-color: #15171d;
    padding: 15px;
    margin-bottom: 3%;
    margin-top: 3% !important;
    margin-left: 0 !important;
    border-radius: 20px;
    transition: transform .25s, opacity .25s, width .25s, height .25s;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
 }

 @media (min-width: 1024px) {
    #comoTrabajamos{
        justify-content: space-between;
    }     
    .trabajos{
        margin-top: 1% !important;
        margin-bottom: 0;
        width: 33% !important;
    }
}