/*
#comoTrabajamos{
    margin-top: 10px !important;
    padding-top: 30px;
}
*/
.ourWorkProcess{
    text-align: center;
    margin-bottom: 40px;
}

.trabajos{
    display: flex;
    align-content: space-between;
    height: auto;
    background-color: #15171d;
    background: linear-gradient(140deg, rgba(75, 78, 118, 0.7) -40%, #15171d 55%);
    /*Segunda Opcion de fondo
    background: linear-gradient(140deg, rgba(75, 78, 118, 0.7) -40%, transparent 55%);
    */
    padding: 15px;
    margin-bottom: 3%;
    margin-top: 3% !important;
    margin-left: 0 !important;
    border-radius: 20px;
    transition: transform .25s, opacity .25s, width .25s, height .25s;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
 }

 #comoTrabajamos .text{
     margin-bottom: 30px;
 }

 @media (min-width: 1024px) {   
    .trabajos{
        margin-top: 1% !important;
        margin-bottom: 0;
        width: 33% !important;
    }
}

.workCards {
    justify-content: space-between;
}

.us{
    text-align: center;
}