/*
#contacto h1.title{
    text-align: start;
}
*/
.inp{
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #15171d;
    padding: 5px !important;
    border-style: none;
    outline: none;
    border: 1px solid #dddddd21;
}

.inp:focus{
    border: 1px solid #E43F5A;
}

input.enviar{
    border-style: none;
    border: 1px solid #fff;
    background: transparent;
    color: #E43F5A;
    border: none;
    text-align: end;
}

.fa-arrow-right-long{
    color: #E43F5A;
    margin-top: 6px !important;
    margin-left: -19px;
}

.contactLabel{
    padding-top: 5px;
    padding-bottom: 5px;
}