/*
#contacto h1.title{
    text-align: start;
}
*/
.inp{
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #15171d;
    padding: 5px !important;
    border-style: none;
    outline: none;
    border: 1px solid #15171d;
}

.inp:focus{
    border: 1px solid #E43F5A;
}

.enviar{
    border-style: none;
    border: 1px solid #fff;
    background: transparent;
    color: #E43F5A;
    border: none;
}

.enviar:hover{
    font-size: 18px;
}

.fa-arrow-right-long{
    margin-left: 6px;
}