#contacto{
    background-color: #17181c;
    padding-top: 70px;
}

.inp{
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #15171d;
    padding: 5px !important;
    border-style: none;
    outline: none;
    border: 1px solid #dddddd21;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.inp:focus{
    border: 1px solid #e43f5aba;
}

input.enviar{
    border-style: none;
    border: 1px solid #fff;
    background: transparent;
    color: #E43F5A;
    border: none;
    text-align: end;
}

.fa-arrow-right-long{
    color: #E43F5A;
    margin-top: 6px !important;
    margin-left: -19px;
}

.contactLabel{
    padding-top: 5px;
    padding-bottom: 5px;
}

#form{
    /* border: 1px solid #dddddd21;  */
    padding-top: 15px;
    border-radius: 10px;
    background-color: #17181c;
}

.divPlanesContacto{
  justify-content: space-between;
  margin: 0px !important;
}

.planSelec{
    color: #fff;
    padding: 5%;
    margin: 3% 0;
    background: #15171d;
    border-style: none;
    outline: none;
    border: 1px solid #dddddd21;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

.planSelec:hover{
    cursor: pointer
}

.planSelec p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-align: start;
}

.seleccionado{
    box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, .1), -5px -5px 7px -5px rgba(0, 0, 0, .1), inset -9px -9px 12px 0px rgba(0, 0, 255, .07), inset 9px 9px 12px 0px rgba(0, 0, 0, .3)!important;
}
.seleccionado p{
    color: #E43F5A;
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (min-width: 1024px) {
    .divPlanesContacto{
        padding-left: 1rem !important;
      }
    #plan1{
      margin-left: 0;
    }
    .planSelec{
        width: 22% !important;
        margin-left: 5px;
        margin-right: 5px;
        padding: 20px;
        margin-bottom: 1%;
    }
}