div .negro {
    height: 100vh;
    width: 100%;
    /* 
    El fondo del nav podria ser el mismo color 
    que el fondo de la pagina #0d1119
    */
    background-color: #0d1116;
    position: fixed;
    z-index: 1001;
    transition: 0.7s;
    transition-delay: 0.25s;
    top: 0;
}
div .violeta {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
    position: fixed;
    z-index: 1000;
    transition: 0.3s;
    transition-delay: 0.2s;
    top: 0;
}

div .violeta.cerrado.abierto {
    transition: 0.3s;
    transition-delay: 0.2s !important;
}

div .violeta.cerrado {
    transition: 0.4s;
    transition-delay: 0.45s !important;
}

.cerrado {
    left: -100%;
    opacity: 0;
}

.abierto {
    left: 0;
    transition: 0.7s;
    transition-delay: 0.2s;
    opacity: 100%;

}

.mailto{
    padding-top: 40px;
}

.mail{
  text-decoration: none;
  color: #dddddd;
}


.menu-mobile #bt-menu-mobile {
  outline:none;cursor:pointer; border: none; background: none; width: 40px; float: right; position: relative; height: 26px;z-index: 2000;}
.menu-mobile #bt-menu-mobile span{  background-color: #dddddd; display: block; height: 4px; position: absolute; width: 100%; border-radius: 4px;}
.menu-mobile #bt-menu-mobile span.top{ top: 0;}
.menu-mobile #bt-menu-mobile span.middle{ top: 50%; margin-top: -2px;width:30px;}
.menu-mobile #bt-menu-mobile span.bottom{ top:100%; margin-top: -4px;width:20px;}

.menu-mobile #bt-menu-mobile.close-bt-hamburguer .middle{ opacity:0;}
.menu-mobile #bt-menu-mobile.close-bt-hamburguer span.top{ margin: -2px 0 0 -3px; top: 40%; width: 110%;
    -moz-transform:rotate(-40deg);
    -webkit-transform:rotate(-40deg);
    -o-transform:rotate(-40deg);
    -ms-transform:rotate(-40deg);
    ;}
.menu-mobile #bt-menu-mobile.close-bt-hamburguer span.bottom{ margin: -2px 0 0 -3px; top: 40%; width: 110%;
    -moz-transform:rotate(40deg);
    -webkit-transform:rotate(40deg);
    -o-transform:rotate(40deg);
    -ms-transform:rotate(40deg);
;}
.menu-mobile #bt-menu-mobile span{-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out}

#wrapper-menu-mobile{ position: fixed; width: 100%; height: 100%; top: 0; left: 100%;}