.inicioGif{
    position: absolute;
    z-index: 1;
}

h3.subTituloBienvenida{
    font-size: 20px;
}

.languageButton{
    text-align: center !important;
    width: 200px;
    z-index: 5;
    border: 1px solid #15171d;
    background: #15171d;
    color: #dddddd65;
    text-align: end;
    font-weight: bold;
    border-radius: 8px;
    padding:10px  
}

.spanish:hover{
  transition: 0.25s;
  color:#E43F5Aaf;
  color: rgb(212, 212, 212);
  -webkit-background-clip: text;
  background-clip: text;
  box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, .1), -5px -5px 7px -5px rgba(0, 0, 0, .1), inset -9px -9px 12px 0px rgba(134, 1, 1, 0.07), inset 9px 9px 12px 0px rgba(0, 0, 0, .3)!important;
  border: 1px solid #15171d;
  background: #15171d;
}

.english:hover{
  transition: 0.25s;
  color:#7C30FFaf;
  color: rgb(212, 212, 212);
  -webkit-background-clip: text;
  background-clip: text;
  box-shadow: 5px 5px 7px -2px rgba(0, 0, 0, .1), -5px -5px 7px -5px rgba(0, 0, 0, .1), inset -9px -9px 12px 0px rgba(0, 0, 255, .07), inset 9px 9px 12px 0px rgba(0, 0, 0, .3)!important;
  border: 1px solid #15171d;
  background: #15171d;
}

.language{
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 5
}

.bandera{
  margin-right: 3px;
}

.tituloInicio{
    z-index: 5;
    text-align: center;
    color: #fff;
    font-size: 30px;
    color: #ddd;
    /*background-image: linear-gradient(60deg, #E43F5A, #7C30FF);*/
    background-size: 300%;
    height: 55px;
    margin-bottom: 0px;
    position: absolute;
    top: 26%;
}

@media (min-width: 1024px){
    .inicioGif{
        position: absolute;
        width: 45% !important;
        z-index: 1;
    }
    .tituloInicio{
        font-size: 46px;
        margin-bottom: 10px;
        position: relative;
        top: none;
    }
}