#proyectos{
    padding-left: 0;
    padding-right: 0;
}

#proyectos h1{
  text-align: start;
}

/* Prueba carrousel */
.flickity-button {
    display: none;
  }
  .flickity-page-dots{
    display: none;
  }
  .carousel-cell {
    width: 100%;
  }

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    position: relative;
    flex: 0 0 100%;
  }