#sobreNosotros{
    margin-top: 80px;
    padding: 0 !important;
    padding-top: 40px !important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
    background-color: #15171d;
}

/*#sobreNosotros{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 40px !important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
    background-color: #15171d;
    border-radius: 40px;
    height: 500px !important;
}*/

.imagenMov{
    height: 300px;
    background-attachment: fixed;
    background-image: url("../img/photos/about-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: 1024px) {
    #sobreNosotros
    {
        padding: 0 !important;
        justify-content: space-between;
        height:auto;
    }
    .sobreFoto{
        width: 40%;
        padding: 0 !important;
    }
    .imagenMov{
        height: 600px;
        background-size: 100 !important;
        background-image: url("../img/photos/stockpcs.jpg");
    }
}