/*#sobreNosotros{
    margin-top: 80px;
    padding: 0 !important;
    padding-top: 40px !important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
    background-color: #15171d;
}

#sobreNosotros{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 40px !important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
    background-color: #15171d;
    border-radius: 20px;
    height: 500px !important;
}

#sobreNosotros{
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 !important;
}*/

/*
#sobreNosotros{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 !important;
}
*/
.single-item{
    margin-top: 20px !important;
}

.nombreEquipo{
    text-align: center;
    color: white;
}
.puestoEquipo{
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 400;
  text-align: center;
}

.fotoEquipo{
    border-radius: 2rem;
    margin-top: 20px !important;
    margin-bottom: 20px;
}

.descTeam{
  color: #ddd;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}


.cardAbout{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
    background-color: #15171d;
    border-radius: 2rem;
    margin-top: 40px;
    width: 90%;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 30px;
}

.team3{
    height: 623px;
}

.fa-pen-ruler{
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 48px;
    text-align: center;
    margin-bottom: 25px;
}

.fa-linkedin{
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #0e76a8;
    padding: 4px;
    border-radius: 2px;
}

.divValores{
    cursor: pointer;
    opacity: 0.2;
}

.valoresImg{
    width: 70% !important;
    margin: 60px 0px 10px 0px !important;
}

.valoresTitle{
    text-align: center;
    color: white;
}

.textValores{
    transition: 0.7s;
    margin: 10px 0px 60px 0px !important;
    font-size: 19px;
    text-align: center;
    color: #dddddd;
    padding-bottom:5px;
    font-weight: 300;
    display: none;
}

.mostrar{
    transition: 0.7s;
    display: flex;
    opacity: 1 !important;
}

.linkdinButton{
    background-color: #15171d;
    border: none;
}

.team{
    height: 200px;
}


@media (min-width: 1024px) {

    .cardAbout{
        height: 330px;
    }

    .team3{
        height: 330px;
    }
    /*#sobreNosotros
    {
        
        align-content: center;
        height: 800px !important;
        margin-top: 120px;
        margin-bottom: 120px;
        
    }*/
    .sobreFoto{
        width: 40%;
        padding: 0 !important;
    }
    .fotoEquipo{
        margin-left: 0;
    }

    .valoresImg{
        width: 60% !important;
    }
    .team{
        height: 242px;
    }
}

@media (min-width: 1400px) {
    .team3{
        height: 380px !important;
    }
}