/* 
  colores: 
    rojo #E43F5A
    violeta #7C30FF
    fondo oscuro #071C2C
    fondo azul mas oscuro #0d1119
*/

.align{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  padding-top: 10px;
  background-color: #15171d;
}

section{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

/*
HEADER STICKY (ROMPE)
header.header-outer{
  display: flex;
  align-items: center;
  position: sticky;
  height: 120px;
  top: -40px; 
  z-index: 10;
  background-color: #0d1119;
  padding-top: 10px;
}

.header-inner {
  height: 80px;
  position: sticky;
  top: 0; 
}*/

div.root{
  background-color: #0d1119;
}

h1.coming{
  opacity: 0.8;
  margin: 0;
  background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p.rights{
  opacity: 0.3;
  color: #dddddd;
  text-align: center;
  font-style: italic;
}

nav{
  position: absolute !important;
  right: 7%;
  justify-content: flex-end;
}

.links a{
  text-decoration: none;
  font-size: 42px;
  -webkit-text-stroke: 1px #dddddd;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
}

.links a:hover{
  transition: 0.5s;
  -webkit-text-fill-color: #dddddd;
}

.title{
  background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 400;
  text-align: center;
}
.text{
  font-size: 20px;
  text-align: start;
  color: #dddddd;
  padding-bottom:5px;
}

.contact{
  font-weight: bold;
  text-align: left !important;
  margin: 0;
}
.odd{
  text-align: left;
}

.even{
text-align: right;
}

.footer{
  padding-top: 35px;
}
