.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
	background-image: linear-gradient(90deg,#e43f5acf,#7C30FFcd) ;
	color:#fff;
	border-radius:50px;
	text-align:center;
	font-size:30px;
	box-shadow: rgb(0 0 0 / 9%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
	z-index:100;
}
.float:hover {
	text-decoration: none;
	color: 	#000;
	background-image: linear-gradient(90deg,#e43f5acf,#7C30FFcd);
	transition: 0.3s;
}

.float div{
	width: 60%;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent 80%);
    height: 2vh;
    border-radius: 30px;
    margin-left: 20%;
	margin-top: 4px;
}

.my-float{
	margin-top:10px;
	font-size: 40px !important;
}

.flying {
	animation: flying 4s infinite;
  }
  
  @keyframes flying {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(5px);
	}
	100% {
	  transform: translateY(0);
	}
  }

@media(min-width: 1024px){
	.float{
		position:fixed;
		width:80px;
		height:80px;
		bottom:40px;
		right:40px;
		background-image: linear-gradient(90deg,#e43f5a,#7C30FF);
		color:#fff;
		border-radius:50px;
		text-align:center;
		font-size:50px;
		box-shadow: rgb(0 0 0 / 9%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
		z-index:100;
	}
}