.title{
    background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 400;
    text-align: center;
}
.text{
    color: #fff;
}
