/* 
  colores: 
    rojo #E43F5A
    violeta #7C30FF
*/
.align{
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 100vh;
  align-content: space-between;
}

#root{
  background-color: #071C2C;
  height: 100vh;
}

h1.coming{
  margin: 0;
  background-image: linear-gradient(60deg, #E43F5A, #7C30FF);
  -webkit-background-clip: text;
  color: transparent;
}

p.rights{
  color: #7C30FF;
  text-align: center;
}